.gender{
    width:100%;
}
.cont{
width: 900px;
margin: 20px auto;
border: 2px solid #fff;
padding: 20px;
border-radius: 5px;

}
body {
    background-image: url('Images/Crimson Tide.jpg');
   color: white;   
}
.btn-res{
    float:right;
}
.add{
    resize:none;
    border-radius: 5px;
}







 /** {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
 
    padding: 0 10px;
    background: -webkit-linear-gradient(to right, #005aa7, #fffde4);
    background-attachment: fixed;
    background-size: cover;
}
.container{
    border : 2px ridge ;
    max-width: 550px;
    width: 100%;
    padding: 30px;
    margin: 20px auto;

}
.title{
    color:tan;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform:uppercase;
}
.form{
    width: 100%;
}
.input_field {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}
label {
    width: 400px;
    margin-right: 10px;
    font-size: 18px;
    color: wheat;

}
input, textarea {
    width: 700px;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
    color: gray;
}
input:focus ,textarea:focus{
    border: 1px solid gold;
}
textarea {
    resize: none;
}
.Gender, .Country, .State {
    position: relative;
    width: 700px;
    height: 36px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    color: gray;
}
@media(max-width: 420px){
    .input_field{
        flex-direction:column;
        align-items: flex-start;
    }
    label{
        margin-bottom: 5px;
    }
    * {
        box-sizing: border-box;
    }
}*/